name: Integration Test

on: pull_request

env:
  GOPROXY: https://proxy.golang.org
  YQ_VERSION: v4.27.3

jobs:
  test-harbor:
    name: Test on Harbor
    runs-on: ubuntu-latest
    strategy:
      matrix:
        harbor: [v1, v2]
        go: [1.19]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Add local harbor host to /etc/hosts
        run: echo "127.0.0.1 core.harbor.domain" | sudo tee -a /etc/hosts
      - name: Setup Kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.15.0
          skipClusterCreation: "true"
      - name: Setup Helm
        run: curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
      - name: Setup tools
        run: sudo apt-get update && sudo apt-get install -y jq make
      - name: Setup yq
        run: wget https://github.com/mikefarah/yq/releases/download/${YQ_VERSION}/yq_linux_amd64.tar.gz -O - | tar xz && sudo mv yq_linux_amd64 /usr/bin/yq
      - name: Test
        run: make integration-test-${{ matrix.harbor }}-ci
